#!/usr/bin/env bash
################################################################################
#
# {{ SCRIPT_NAME | default('script name', True) }}
# ----------------
# A simple utility to copy a file to a new location with a new name, and then
# immediately start editing it. For boilerplates.
#
# @author {{ environ('AUTHOR_NAME') | default('AUTHOR_NAME', True) }}, {{ environ('AUTHOR_GPG_KEY') | default('AUTHOR_GPG_KEY', True) }}
# @date {{ DATE }}
# @version 0.1.0
#
################################################################################

set -e
set -o pipefail

bold=$(tput bold)
normal=$(tput sgr0)
red=$(tput setaf 1)
blue=$(tput setaf 4)
default=$(tput setaf 9)
white=$(tput setaf 7)

readonly bold
readonly normal
readonly red
readonly blue
readonly default
readonly white

function print_text(){
  echo "${blue}==> ${white}${bold}${1}${normal}"
}

function raise_error(){
  printf "${red}%s\n" "${1}"
  exit 1
}

# Check if variable is set
# Returns false if empty
function is_set(){
  [ -n "${1}" ]
}

function command_exists() {
  command -v "$1" >/dev/null 2>&1
}

function main(){
  
}

main "@"
